.signup {

}

.signup__form {
  position: relative;

  @media (--breakpoint-medium) {
    display: flex;
    width: 100%;
  }
}

.signup__heading {
  font-size: 14px;
  margin-bottom: 10px;
}

.signup__heading__highlight {
  font-weight: bold;
  margin-left: 5px;
}

.signup__email-input,
.signup__submit-button {
  position: relative;
  z-index: 2;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;

  @media (--breakpoint-medium) {
    width: auto;
  }
}

.signup__email-input {
  border: 1px solid #ddd;
  transition: opacity .2s ease-in-out;

  &::placeholder {
    font-size: 14px;
    white-space: pre-wrap;
    transform: translateY(-10px);
  }

  &:focus::placeholder {
    opacity: 0;
  }

  @media (--breakpoint-small) {
    &::placeholder {
      transform: translateY(0);
    }
  }

  @media (--breakpoint-medium) {
    flex: 1;
  }
}

.signup__submit-button {
  display: flex;
  justify-content: center;
  background: var(--color-brandPrimary);
  margin-top: 10px;
  border: 1px transparent;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  height: 44px;

  @media (--breakpoint-medium) {
    width: 140px;
    margin-left: 20px;
    margin-top: 0;
  }
}

.signup__error-message {
  font-size: 14px;
  color: var(--color-brandSecondary);
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
}

.signup__registered {
  position: absolute;
  top: 30px;
  z-index: 1;
  opacity: 0;
  transition: opacity .32s ease-in-out .32s;
  font-weight: bold;
  color: var(--color-brandPrimary);
}

/* Status */

.signup--status-success {
  .signup__email-input,
  .signup__submit-button {
    opacity: 0;
    transition: opacity .32s ease-in-out;
  }

  .signup__registered {
    opacity: 1;
  }
}
