html, body,
.wrapper {
  height: 100%;
}

body {
  background-color: var(--base-color);
  color: var(--offBlack);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
}
