body {
  background-color: var(--base);
  color: var(--offBlack);
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}
