body {
  font-family: sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input,
select {
  padding: 0;
  outline: 0;
  border: none;
}

button {
  padding: 0;
  outline: 0;
  border: none;
  cursor: pointer;
  background: none;
}
