.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0 30px;
  text-align: center;

  @media (--breakpoint-medium) {
    padding: 50px 0 60px;
  }

  @media (--breakpoint-large) {
    text-align: left;
    max-width: 650px;
  }

  @media (--breakpoint-desktop) {
    max-width: 710px;
  }
}

.home__heading {
  font-size: 30px;
  line-height: 1.1;
  color: black;
  font-weight: 900;
  margin-bottom: var(--spacing-large);
  margin-top: var(--spacing-small);

  @media (--breakpoint-small) {
    font-size: 42px;
  }

  @media (--breakpoint-medium) {
    font-size: 54px;
    margin-bottom: 0;
  }
}

.home__news-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: var(--spacing-small);
  margin-top: var(--spacing-large);

  &:before {
    content: "";
    display: block;
    width: 30px;
    background: black;
    height: 1px;
    margin: 0 auto var(--spacing-large) auto;
  }

  @media (--breakpoint-medium) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      display: none;
    }
  }

  @media (--breakpoint-large) {
    justify-content: flex-start;
  }
}

.home__news-title__coming-soon {
  color: var(--color-brandSecondary);
  font-size: 14px;

  @media (--breakpoint-medium) {
    order: 1;
    margin-right: 15px;
    padding: 4px 10px;
    border: 1px solid var(--color-brandSecondary);
    border-radius: var(--border-radius);

  }
}

.home__news-title__heading {
  @media (--breakpoint-medium) {
    order: 2;
  }
}

.home__subscription-info {
  > div {
    padding-top: 70px;
    background-repeat: no-repeat;
    font-size: 14px;
    margin: 0 auto var(--spacing-small) auto;
    width: 220px;

    i {
      color: black;
      font-weight: bold;
    }
  }

  @media (--breakpoint-medium) {
    display: flex;
    justify-content: space-between;

    > div {
      width: 30%;
      margin: 0;
    }
  }
}

.home__subscription-info__form {
  background-image: url('assets/images/icn-form.png');
  background-size: auto 50px;
  background-position: 50% 5px;
}

.home__subscription-info__hunt {
  background-image: url('assets/images/icn-hunt.png');
  background-size: auto 65px;
  background-position: 50% top;
}

.home__subscription-info__pack {
  background-image: url('assets/images/icn-pack.png');
  background-size: auto 35px;
  background-position: 50% 15px;
}
