.header {
  display: flex;
  align-items: center;
  width: 100%; /* Fix: makes max-width work with margin auto inside flexbox */
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 50px;
}

.header__logo {
  color: black;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
}


.header__extra {
  padding: 9px 20px;
  background-color: #f6f6f6;
  margin-left: 50px;
  border-radius: var(--border-radius);
  border: 1px solid #eee;
  font-size: 14px;
}
